---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Montserrat, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #333333;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$cognopiayellow: #fecf2a;

// Width of the content area
$content-width:    800px;
$navbar-width:	   991px;
$inner-width:	   768px;
$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

//import bootstrap
@import "bootstrap";

/* Body section styles*/
body {
	font-family: Montserrat, sans-serif;
	font-style: normal;
}

a {
	color: $cognopiayellow;
	text-decoration: underline;
}

#topbuffer {
	background-color: black;
	height: 155px;
}

#homebody {
text-align: center;
    color: white;
    background-attachment: scroll;
    background-image: url('{{ site.baseurl }}/images/header_image.jpg');
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: auto;
}

#features {
	background-color: $grey-color;
	color: white;
	height: auto;
}

/* styling for the features panels */
#feature > div {
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 25px;
	background-color: black;
	text-align: center;
}

#feature > div > div.panel-heading {
	font-size: 22px;
	font-weight: 600;
}

#feature > div > div.panel-body > p > a {
	color: $cognopiayellow;
	text-decoration: none;
}

/* Header */

header {

}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

/* Navbar changes */
#shrink.navbar.navbar-fixed-top.navbar-default {
	background-color: black;
	border-color: black;
	text-transform: uppercase;
	font-size: 18px;
	border-bottom: 1px solid $cognopiayellow;
}

#bs-example-navbar-collapse-1 > ul > li > a {
	color: white;
	font-weight: 100;
	text-decoration: none;
}

#bs-example-navbar-collapse-1 > ul {
	margin-right: 25px;
	margin-top: 110px;
}

@media screen and (max-width: $navbar-width) {
  	#bs-example-navbar-collapse-1 > ul {
	margin-right: 0px;
	margin-top: 65px;
	}
  }

@media screen and (max-width: $inner-width) {
	#shrink.navbar.navbar-fixed-top.navbar-default {
		border: none;
	}
	#bs-example-navbar-collapse-1 > ul {
	margin-top: 110px;
	}	
}

#bs-example-navbar-collapse-1 > ul > li > a:hover {
	color: $cognopiayellow;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-top: none;
	background-color: black;
	#bs-example-navbar-collapse-1 > ul {
		margin-top: 110;
	}
}

#shrink.navbar.navbar-fixed-top.navbar-default.navbar-shrink {
        padding: 3px 0;
        background-color: black;
        border-bottom: 1px solid $cognopiayellow;
        font-size: 14px;
    }

#top-content {
	margin-top: 150px;
}