<section id="features">
	<div class="container">
		<div class="row">
			<h2>How we help Advertisers</h2>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-1" id="feature">
				<div class="panel-panel-default">
				<div class="panel-heading">Sponsorship</div>
				<div class="panel-body">
					<p>Do you want your brand seen by our audience? Our artists can promote your products through social media and through using the product during their performances.</p>
					<p><a class="page-link" href="{{ site.baseurl }}/advertisers/">Connect with fans &#8594;</a></p>
				</div>
				</div>
			</div>
			<div class="col-md-3" id="feature">
				<div class="panel-panel-default">
					<div class="panel-heading">Video Takeover</div>
					<div class="panel-body">
						<p>Why not take sponsorship to a different level? Takeover a whole music video with your products, our artists can customise the video output to meet your requirements.</p>
						<p><a class="page-link" href="{{ site.baseurl }}/artists/">Own a video shoot &#8594; </a></p>
					 </div>
				</div>
			</div>
			<div class="col-md-3" id="feature">
				<div class="panel-panel-default">
					<div class="panel-heading">BandViews</div>
					<div class="panel-body">
						<p>Gain access to the social media profiles of our audience. Promote your products during a BandViews session and really connect to the people you want to target.</p>
						<p><a class="page-link" href="{{ site.baseurl }}/artists/">Know the audience &#8594; </a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>