<section id="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-lg-offset-1" id="feature">
				<div class="panel-panel-default">
					<div class="panel-heading">Exposure</div>
					<div class="panel-body">
						<p>All Bands thrive on exposure. After all, why bother creating and playing wonderful music unless there's a following of dedicated fans that are interested in hearing you play? </p>
<a name="sponsorship"></a>
						<p>Here at Nex Level Media we want to ensure your music is heard. We want your band seen and liked by the widest possible range of fans, and to help you cross international borders and gain a fanbase that is truly global.</p>

						<p>Through our partnership with BandViews we can provide you access to a global audience of tech-savvy fans. We will promote your latest content to fans that like similar music, fans that like acts in your country, and fans that may have never even heard of you before. As your music grows and adapts to the changing tastes of different audiences you can explore a broad range of creative outputs and really find your voice.</p>

						<p><a class="page-link" href="mailto:contact@nexlevel.media">Talk to us to find out more &#8594; </a></p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>