<section id="features">
	<div class="container">
		<a class="anchor" name="feedback"></a>
		<div class="row">
			<div class="col-lg-9 col-lg-offset-1" id="feature">
				<div class="panel-panel-default">
					<div class="panel-heading">Feedback</div>
					<div class="panel-body">
						<p>If you're like us, you're always striving to improve and be the best you can be. But it's so difficult to find the right content that really gets your fans on their feet. How can you improve without some kind of fan engagement? </p>

						<p>With the Bandviews partnership in place here at Nex Level Media, we can provide you a platform where you can meet and interact with your fans in an intimate, one-on-one setting, all whilst you're practicing for your next big hit. The real-time communication feature allows your fans to provide feedback in real time, boosting their engagement with your band and bringing them back for more.</p>

						<p>In addition to that, you get valuable feedback about the type of content your fans want more of. Currently you're probably practicing in a vacuum, unaware of what the fans will make of your material until you launch - we can change that and enable you to produce more quality, more quickly. All whilst you're earning money from the practice session itself!</p>

						<p><a class="page-link" href="mailto:contact@nexlevel.media">Let's talk about feedback &#8594; </a></p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>