<section id="artist-section">
	<div class="container">
		<div class="row">
			<h2>How we help Artists</h2>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-1" id="artist">
				<div class="panel-panel-default">
					<div class="panel-heading">Exposure</div>
					<div class="panel-body">
						<p>Nex Level Media can dramatically expand your market exposure and reach. Let us bring you more fans from around the region. Why not go global?</p>
						<p><a class="page-link" href="{{ site.baseurl }}/artists/#exposure">Boost your audience &#8594; </a></p>
					</div>
				</div>
			</div>
			<div class="col-md-3" id="artist">
				<div class="panel-panel-default">
					<div class="panel-heading">Sponsorship</div>
					<div class="panel-body">
						<p>Have you got an existing loyal fanbase? Local and Global brands want access to your fans, and we can help you profit from this, taking your earnings to the next level.</p>
						<p><a class="page-link" href="{{ site.baseurl }}/artists/#sponsorship">Get sponsored &#8594; </a></p>
					 </div>
				</div>
			</div>
			<div class="col-md-3" id="artist">
				<div class="panel-panel-default">
					<div class="panel-heading">Feedback</div>
					<div class="panel-body">
						<p>How much do you really know about your fan's likes and dislikes? How frequently do you engage them? Start enganging your fans on another level.</p>
						<p><a class="page-link" href="{{ site.baseurl }}/artists/#feedback">Connect with fans &#8594; </a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>