<section id="artist-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-lg-offset-1" id="artist">
				<div class="panel-panel-default">
					<div class="panel-heading">Sponsorship</div>
					<div class="panel-body">
						<p>Are you maximising your earnings potential? Or could you be getting paid more without any additional effort? If you're like most of the bands we speak to, you're probably missing out on sponsorship cash.</p>

						<p>Nex Level Media can help. We have a wide network of potenital sponsor compnanies all desperate to leverage your fame and fanbase to help them exapnd in the region. Whether it's be earning money from your FaceBook or Twitter following, or more in-depth sponsor relationships, we can help you to access hidden opportunities and unlock your earning potential.</p>
<a name="feedback"></a>
						<p>Get in touch with us to have a personal consultation on your sponsorship potential. We can help craft a specific monetisation strategy that is tailored to your brand image. Let us do the hard work of finding the right sponsor for your band, whilst you sit back and count the money.</p>

						<p><a class="page-link" href="mailto:contact@nexlevel.media">Get your sponsorship consultation &#8594; </a></p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>