<section id="artist-section">
	<div class="container">
		<div class="row">
			<h2>How BandViews Works</h2>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-1" id="artist">
				<div class="panel-panel-default">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
						<a href="{{ site.baseurl }}/bandviews/#record">Record</a>
						<span class="glyphicon glyphicon-music" aria-hidden="true"></span>
					</div>
					<div class="panel-body">
						<p>Agree on a time-slot to record your next pratice session. Promote this to your social media following, and we'll broadcast it to the wider BandViews following.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3" id="artist">
				<div class="panel-panel-default">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
						<a href="{{ site.baseurl }}/bandviews/#engage">Engage</a>
						<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
					</div>
					<div class="panel-body">
						<p>Get real-time feedback from fans whilst you're practicing. Learn their likes and dislikes in a live chat session while you play. Build a loyal social following.</p>
					 </div>
				</div>
			</div>
			<a name="established"></a>
			<div class="col-md-3" id="artist">
				<div class="panel-panel-default">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
						<a href="{{ site.baseurl }}/bandviews/#earn">Earn</a>
						<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
					</div>
					<div class="panel-body">
						<p>Every fan eyeball that watches your session earns you money. We can provide direct sponsorship opportunities too. Make money from your practice for once!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>