<section id="features">
	<a class="anchor" name ="bv"></a>
	<div class="container">
		<div class="row">
			<h2>Bandviews</h2>
		</div>
		<div class="row">
			<div class="col-md-9 col-md-offset-1" id="feature">
				<div class="panel-panel-default">
				<div class="panel-heading">Promote your brand in a live session</div>
					<div class="panel-body">
						<div class="row">
							<div>
								</br>
								<iframe frameborder="0" width="480" height="270" src="//www.dailymotion.com/embed/video/x34sxby" allowfullscreen></iframe>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<p>When artists and fans come together on BandViews, there's an intimate connection where the fans see a new side of their favourite star. Practice sessions with live chat enable the fans to interact with the artist directly, meaning promotional opportunities are all the more powerful.</p>

								<p>Sponsoring a LIVE BandViews session will enable us to directly speak to the fans on your behalf. We can feature your product prominently in the live session, talk about how much your product means to us, and even use, wear, consume or display the product during the session. </p>

								<p>In the latest live session, Meas Soksophea promoted Freeze Juice Cambodia, drinking the drink and displaying all the flavours whilst talking, singing and engaging with her fans. When we switched over to show the latest video "Do You Know", a customised Freeze Juice Cambodia commercial was played before the start of the music. How mucb closer can you get to your audience?</p>

								<p><a class="page-link" href="mailto:contact@nexlevel.media">Promote with BandViews &#8594; </a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>