<section id="artist-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-lg-offset-1" id="artist">
				<div class="panel-panel-default">
					<div class="panel-heading">
						 <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            				Earn
            			 <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
					</div>
					<div class="panel-body">
						<a name="earn"></a>
						<p>If you're currently practicing in a recording studio, it probably costs you money to practice. Even if you're just recording yourself at home, or with your friends, you still have to invest your own time and resources into improving your music. </p>

						<p>BandViews changes all of that. Not only will you start earning money from your practice sessions, you'll also start to build a regular revenue stream from the work posted online previously. You'll be earning money from current practice sessions as well as everything else we've uploaded to the BandViews site. Not only are you getting feedback from fans - in real time - about the type of content they want to hear more of, you're also earning dollars for each and every fan eyeball that watches you play.</p>

						<p>Loyal fans that really enjoy your music can even give you a tip - money just for the enjoyment of hearing your session.</p>

						<p>In order to maximise your earnings potential, Nex Level Media can help find sponsor companies that want to promote their brand during your practice session. Whether you're using their musical instruments, drinking their beverages, eating their food or wearing their clothes, there's a sponsorship opportunity waiting for you and Nex Level Media can help you find it.</p>

						<p><a class="page-link" href="mailto:contact@nexlevel.media">Talk to us about your earnings potential &#8594; </a></p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>