<section id="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-lg-offset-1" id="feature">
				<div class="panel-panel-default">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            			Engage
            			<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
					</div>
					<div class="panel-body">
						<a name="engage"></a>
						<p>How often do you engage with your fans on an in-depth, personal level? How often is that communication a one-way street from you, with little or no feedback from your fans? With BandViews you get to engage in real-time, during your practice sessions and you can get direct feedback about your latest material before you release it. </p>

						<p>Engagement with fans has another, more materialistic value - by enabling them to connect directly with the bands they care about, we create a more intimate relationship between you and your audience. The fans get to experience their favourite artists in a whole new light, and the increased engagement will lead to more downloads, sales and revenue from the BandViews platform.</p>

						<p>You can engage with the fans in any way you like - but typically we recommend setting aside some time during the practice session where the fans can have a Q&A session. Get someone else to read the comments as they come in from the site whilst you answer them on video. Of course, you're not limited to just engaging during a practice session - you might want to set aside time for a dedicated conversation about an upcoming tour, album or concert you're planning. </p>

						<p>Let your fans get to know you and your band, and they'll come flocking back for more. You'll be creating more of the content they want and you'll have more understanding about your audience than ever before</p>

					</div>
				</div>
			</div>

		</div>
	</div>
</section>