<section id="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-lg-offset-1" id="feature">
				<div class="panel-panel-default">
					<div class="panel-heading" id="established-acts">Established Acts</div>
					<div class="panel-body">
						<p>We provide a unique opportunity to leverage your practice performances and return additional revenue streams to boost your income. Join up with BandViews and enjoy greater fan engagement, feedback on your latest material before release, and an ability to expand into new markets across the globe.</p>

						<p>Sponsorship opportunities exist right now, for your band and your fansbase. Major international brands are keen to leverage the engagement you've built with your audience in order to expand into the South East Asian region. Nex Level Media can provide consultation so you earn more money and help match your image and ideals with the perfect brand.</p>

						<p>If you're missing out on potential revenue, get in touch with us today.</p>

						<p><a class="page-link" href="mailto:contact@nexlevel.media">Established acts &#8594; </a></p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>




