<nav class="navbar navbar-fixed-top navbar-default" id="shrink" role="navigation">
	<div class="container">
		<div class="navbar-header page-scroll">
			<!--brand and toggle get grouped together for better mobile display -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
				<a class="navbar-brand page-scroll", href="/">
					<img alt="Nex Level Media Ltd." src="{{ site.baseurl }}/images/white_logo_website.png">
				</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a class="page-link" href="{{ site.baseurl }}/artists/">Artists</a>
				</li>
				<li>
					<a class="page-link" href="{{ site.baseurl }}/advertisers/">Advertisers</a>
				</li>
				<li>
					<a class="page-link" href="{{ site.baseurl }}/bandviews/">Bandviews</a>
				</li>
				<li>
					<a class="page-link" href="{{ site.baseurl }}/about/">About</a>
				</li>
			</ul>
		</div>
	</div>
</nav>