<section id="features">
	<a class="anchor" name ="featured_artists"></a>
	<div class="container">
		<div class="row">
			<h2>Featured Artists</h2>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1" id="feature">
				<div class="panel-panel-default">
				<div class="panel-heading">Meas Soksophea</div>
					<div class="panel-body">
						<div class="col-md-5">
							</br>
							<img class="img-rounded" src="{{ site.baseurl }}/images/phea_NLML.jpg"/>
						</div>
						<div class="col-md-7 pull-right">
							<p>Nex Level Media Ltd acts as the international marketing representative of Meas Soksophea. Young and talented Meas Soksophea came to fame in 2004 and has since gained great popularity among all generations of Cambodians, especially younger crowds. Her beautiful voice never fails to impress locally and internationally.</p>

							<p>Meas Soksophea is not only one of the best and most recognised music artists in Cambodia, she is also a role model, engaging in many activities including operating her own charity foundation. She is a fashion icon and leads an inspirational lifestyle that young people are attracted to.</p>

							<p>With a FaceBook following numbering in the millions, Meas Soksophea has become the first Cambodian artist to feature on the BandViews music platform, delighting her audience with personal, charming sessions. Her latest hit single "Do You Know" was released live in a BandViews session on September 5th 2015.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>