<section id="artist-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-lg-offset-1" id="artist">
				<div class="panel-panel-default">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
            			Record
            			<span class="glyphicon glyphicon-music" aria-hidden="true"></span>
					</div>
					<div class="panel-body">
						<a name="record"></a>
						<p>The best thing about BandViews is that it requires you to do absolutely nothing more than you're already doing - just go and record your practice sessions, wherever and whenever you decide to practice.</p>

						<p>Nex Level Media will arrange for a time to record and submit your practice session via the BandViews platform. This can fit in with your normal practice hours, or can be tailored to ensure you get the most fans watching you. Your choice. Once scheduled, just sit back, hit record, and start jamming direct with your audience.</p>

						<p>In order to maximise both your exposure and your earnings potential, we recommend promoting the practice session via your own social media profile so your fans can plan to be there with you. We can also boost your following locally and globally through promotion via the BandViews marketing arm. The more fans you have, the better the experience for everyone.</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>