<section id="artist-section">
	<a class="anchor" name ="sponsors"></a>
	<div class="container">
		<div class="row">
			<h2>Sponsorship Opportunities</h2>
		</div>
		<div class="row">
			<div class="col-md-9 col-md-offset-1" id="artist">
				<div class="panel-panel-default">
				<div class="panel-heading">Connect with Fans</div>
					<div class="panel-body">
						<div class="col-md-5">
							</br>
							<img class="img-rounded" src="{{ site.baseurl }}/images/sponsor.jpg"/>
						</div>
						<div class="col-md-7 pull-right">
							<p>Why not promote your brand to an increasingly affluent, young, and dynamic audience in Cambodia and South East Asia? We can help you reach over 1.5 million potential customers with FaceBook promotions alone. No need to pay for post boosts, these fans are already looking at our artists' feed and they take notice of the brands we promote.</p>

							<p>We can tailor the posts, the banner image, and the text to suit your needs. Engage your audience with the right message, the right image, and the right timing to make the biggest impact. Get your brand noticed today!</p>

							<p>If you need further services we can offer photo-shoots, television commercials, radio voiceovers/jingles and event attendance to ensure your brand gets the attention it deserves.</p>

							<p><a class="page-link" href="mailto:contact@nexlevel.media">Get your brand noticed today &#8594; </a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>