<section id="artist-section">
	<a name="unsigned"></a>
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-lg-offset-1" id="artist">
				<div class="panel-panel-default">
					<div class="panel-heading" id="new-acts">Unsigned Acts</div>
					<div class="panel-body">
						<p>Get noticed! Put your content out through the BandViews media platform and you might get signed up by a major record label. Whist you're practicing you can gain valuable fan feeback on performance quality and song selections - helping you improve your act and really get to know your audience. By being part of a global media platform you can expand your reach well beyond your local audience.</p>

						<p> Nex Level Media can help you succeed. Whether it's introductions to record lables in your country, exposure to a global audience, or even just advice on how and where to put your material, you should talk to us to help you reach the big time.</p>

						<p><a class="page-link" href="mailto:contact@nexlevel.media">Unsigned acts &#8594; </a></p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
