<section id="features">
	<a class="anchor" name ="video"></a>
	<div class="container">
		<div class="row">
			<h2>Video Takeover</h2>
		</div>
		<div class="row">
			<div class="col-md-9 col-md-offset-1" id="feature">
				<div class="panel-panel-default">
				<div class="panel-heading">Get your brand in a video shoot</div>
					<div class="panel-body">
						<div class="col-md-5">
							</br>
							<img class="img-rounded" src="{{ site.baseurl }}/images/video.jpg"/>
						</div>
						<div class="col-md-7 pull-left">
							<p>What better way to get fans to look at your brand than having it feature in a music video? We can tailor the video to suit your needs, prominently featuring your products and brand in a way that lets our fans know that their favourite artist loves your product.</p>

							<p>We can work with you to make this as effective as possible. It could be as simple as showcasing the product in the background. We could also let you takeover the whole music video shoot, with input into the storyboard and action to ensure your brand features in the way you want.</p>

							<p>Huawei has their product in this still image from Meas Soksophea's latest video "Do You Know". Chevrolet are also featured in the production, with their latest vehicle taking centre stage as the music begins. Can you imagine the level of engagement this has with the fans?</p>

							<p><a class="page-link" href="mailto:contact@nexlevel.media">Get a video shoot today &#8594; </a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>