<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

<section id="topbuffer">
  {% include navbar.html %}
</section>
<section id="homebody">

    <div class="container">
        <header>
    		<h1 class="post-title">{{ page.title }}</h1>
  		</header>

  		<article class="post-content">
   		 {{ content }}
  		</article>

  <div class="container" id="bv-page">
    <div class="row">
      <div class="col-md-3 col-md-offset-1" id="bv">
        <div class="panel-panel-default">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
            <a href="#record">Record</a>
            <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
          </div>
          <div class="panel-body">
            <p>Agree on a time-slot to record your next pratice session. Promote this to your social media following, and we'll broadcast it to the wider BandViews following.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" id="bv">
        <div class="panel-panel-default">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            <a href="#engage">Engage</a>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          </div>
          <div class="panel-body">
            <p>Get real-time feedback from fans whilst you're practicing. Learn their likes and dislikes in a live chat session while you play. Build a loyal social following.</p>
           </div>
        </div>
      </div>
      <a name="established"></a>
      <div class="col-md-3" id="bv">
        <div class="panel-panel-default">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            <a href="earn">Earn</a>
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
          </div>
          <div class="panel-body">
            <p>Every fan eyeball that watches your session earns you money. We can provide direct sponsorship opportunities too. Make money from your practice for once!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
{% include record.html %}
{% include engage.html %}
{% include earn.html %}
{% include footer.html %}

  </body>

</html>
